// Define variables for your color scheme

// For example:
$purple: #858AE3;
$blue: #75C9C8;
$pink: #FF8FAB;
$orange: #FFA62B;
$green: #1EDD88;
$darkpurple: #0F0326;
$beige: #FFEEDD;
// #fff5ea;

// general rules

.hidden {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
