// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');


// Define fonts for body and headers
$body-font: "Nintendo-Regular", "sans-serif";
$headers-font: "Nintendo-Regular", "sans-serif";

@font-face {
  font-family: "Nintendo-Regular";
  src: font-url('NintendoFont.otf') format('truetype');
}
