<div class="panel data-panel2" >
  <div class="data-panel">

    <div class="label-times-list" data-manage-data-target="labeltimes">
    </div>

    <div class="data-panel-happydance">
      <button class="btn happy-btn" style='align-items: center;' data-action="click->manage-data#startInteraction">
        <i class="fa-solid fa-hands-clapping"></i>
      </button>
    </div>

  </div>
</div>
