<div class="panel" >
  <div class="data-panel">

    <div class="data-panel-today">
      <h1>Today's stats</h1>
    </div>

     <div class="data-panel-today">
      <h1>This week's stats</h1>
    </div>

    <div class="data-panel-congrats">
      <button class="btn happy-btn" style='align-items: center;'>Happy dance</button>
    </div>

  </div>
</div>
