<div class="panel" >
  <div class="data-panel">

    <div class="data-panel-today">
      <h1>Today,</h1>
    </div>

    <div class= "data-panel-timer">
      <h3>You worked ... </h3>
      <div class="timer-total"><h2 data-manage-data-target="dailytotal">0 hours 0 minutes</h2></div>
    </div>

    <div class="data-panel-congrats">
      <h2 class="text-center">Congratulations!</h2>
      <button class="btn happy-btn" style='align-items: center;' data-action="click->manage-data#startInteraction"><i class="fa-solid fa-hands-clapping"></i></button>

    </div>

    <div class="data-panel-footer">
      <h4>Want to see details per label?</h4>
      <button class="btn data-btn" style='align-items: center;' data-action="click->navbar#displayDataTwo">Yessssss</button>
    </div>

  </div>
</div>
