<div class="panel data-panel2" >
  <div class="data-panel">

    <div class="data-panel-today">
    </div>

    <div class="label-times-list" data-manage-data-target="labeltimes">
    </div>

    <div class="data-panel-happydance">
      <button class="btn happy-btn" style='align-items: center;'>Happy dance</button>
    </div>

  </div>
</div>
