<div class="side-navbar">
  <div class="icon-list">
    <a href="" class="fa-solid fa-list"></a>
  </div>
  <div class="icon-clock">
    <a href="" class="fa-sharp fa-solid fa-clock"></a>
  </div>
  <div class="icon-music">
    <a href="" class="fa-solid fa-music"></a>
  </div>
  <div class="icon-stat">
    <a href="" class="fa-solid fa-chart-line"></a>
  </div>
</div>
