<div class="needs-panel" >


  <div class="needs-variables">

    <div class="need-hunger">
      <i class="fa-solid fa-utensils"></i>
      <div class="myProgress">
        <div class="myBar" id="hunger"></div>
      </div>
    </div>

     <div class="need-thirst">
        <i class="fa-solid fa-glass-water"></i>
        <div class="myProgress">
        <div class="myBar" id="thirst"></div>
      </div>
    </div>

     <div class="need-bathroom">
      <i class="fa-solid fa-shower"></i>
      <div class="myProgress">
        <div class="myBar" id="bathroom"></div>
      </div>
    </div>

     <div class="need-rest">
        <i class="fa-solid fa-moon"></i>
        <div class="myProgress">
        <div class="myBar" id="rest"></div>
      </div>
    </div>

     <div class="need-recreation">
      <i class="fa-solid fa-icons"></i>
      <div class="myProgress">
        <div class="myBar" id="recreation"></div>
      </div>
    </div>

  </div>

</div>
