 <div class="container-task" data-create-task-target="list">
  <h2 style='color: #FFA62B'>To do</h2>
    <% if tasks.empty?  %>
      <div class="no-tasks"><h4>No task to do yet !</h4></div>
    <% else %>
      <% tasks.each do |task| %>
        <%= render "users/card_task", task: task %>
      <% end %>
    <% end %>
  </div>
