 <div class="container-task" data-create-task-target="list">
    <% if tasks.empty?  %>
      <div class="no-tasks"><h4>No task to do yet !</h4></div>
    <% else %>
      <% tasks.each do |task| %>
        <%= render "card_task", task: task %>
      <% end %>
    <% end %>
  </div>
