<div class="panel task-panel">

  <div class="card-task">
    <div class="square-task">
    </div>
    <div class="card-task-infos">
      <h2>Task</h2>
      <p>Description</p>
    </div>
  </div>

  <%= simple_form_for [current_user, @task], html: {class: "d-none"} do |f| %>
    <%= f.input :title %>
    <%= f.input :descriptionn %>
  <% end %>

  <div class="footer-task" >
    <a href="" class="btn-plus">+</a>
  </div>
</div>
