 <div class="container-task" data-create-task-target="list">
    <% if tasks.empty?  %>
      <div class="no-tasks"><h4>No task to do yet !</h4></div>
    <% else %>
      <% tasks.each do |task| %>
        <div class="card-task m-3">
          <div class="card-task-infos">
            <h2><%= task.title %></h2>
            <p> <%= task.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
