<div class="panel">
  <div class="timer-panel">
    <div data-controller="update-timer" data-update-timer-id-value=<%= timer.id %>>
      <h2 class="purple-timer-title">Timer 1</h2>
      <div class="timer" id="clockdiv"><h2 data-update-timer-target="hours">00</h2>:<h2 data-update-timer-target="minutes">00</h2>&ensp;<p data-update-timer-target="seconds">00</p></div>
      <div class="timer-buttons-panel">
        <div class="timer-button">
          <a href="" class="fa-sharp fa-solid fa-play" data-update-timer-target="play" data-action="click->update-timer#start"></a>
          <%# <% if @timer %>
            <%# <%= button_to "", start_timer_path(@timer), class:"skip-button-to-style fa-solid fa-play"%>
          <%# <% else %>
          <%# <%= button_to "", create_timer_path, class:"skip-button-to-style fa-solid fa-play"%>
          <%# <% end %>
        </div>
        <div class="timer-button">
          <a href="" class="fa-sharp fa-solid fa-pause"></a>
        </div>
        <div class="timer-button">
          <a href="" class="fa-solid fa-circle-check"></a>
        </div>
      </div>
      <div class="input-field-short-blue">Select an existing tag</div>
      <div class="new-tag-field">
        <div class="input-field-short-blue">Create a new tag</div>
        <div class="small-btn-plus">+</div>
      </div>
    </div>
    <br><br>
    </div>
  </div>
</div>

<%= console %>
