<div class="panel" data-controller="update-timer" data-controller="manage-labels" data-update-timer-logged-value=<%= @timer.logged %> data-update-timer-time-value=<%= @timer.total_time %> data-update-timer-id-value= <%= timer.id %> >
  <h2 class="purple-timer-title">Timer</h2>
  <div class="timer-panel">
    <div class="timer"><h2 data-update-timer-target="hours">00</h2>:<h2 data-update-timer-target="minutes">00</h2>&ensp;<p data-update-timer-target="seconds">00</p></div>
    <%= render "timer_panel_buttons", timer: timer %>
  </div>
</div>
