<div class="homepage-timer"><h2 data-update-timer-target="homepagetimerhours">00</h2>:<h2 data-update-timer-target="homepagetimerminutes">00</h2>&ensp;<p data-update-timer-target="homepagetimerseconds">00</p></div>
