<div class="panel" data-controller="manage-labels" >
  <h2 class="purple-timer-title">Timer</h2>
  <br>
  <div class="timer-panel">
    <div class="timer"><h2 data-update-timer-target="hours">00</h2>:<h2 data-update-timer-target="minutes">00</h2>&ensp;<p data-update-timer-target="seconds">00</p></div>
    <br>
    <%= render "timer_panel_buttons", timer: timer %>
  </div>
</div>
