<div class="panel">

   <div class="welcome-panel-title m-3">
    <h1 style='color: #0F0326ab; text-align: center; padding-top: 30px;'>Welcome back <span style='color: #858AE3;'><%= current_user.username %></span>, </h1>
    <br>
    <h3 style='color: #0F0326ab; text-align: center; padding-top: 20px; padding-bottom: 20px;'>Your virtual work buddy <span style='color: #75C9C8;'><%= current_user.avatar.name %></span> is super happy to see you!</h3>
  </div>

  <div class="welcome-panel-card">
    <div class="welcome-pannel-text">
      <h3 style='color: #0F0326ab; text-align: center;'>Have a beautiful and productive day!</h3>
    </div>
  </div>
  <br>

  <div class="welcome-panel-btn" data-navbar-target="welcomebtn">
      <button data-action="click->navbar#displayTaskAfterWelcome" class="btn welcome-btn" style='color: #FFEEDD; align-items: center;'>Let's work</button>
  </div>

</div>
