.banner {
  background-color: #858AE3;
}

.navbar {
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}

.logo {
  font-family: "Gaegu", "cursive";
  font-size: 5rem;
  color: #FFEEDD;
  margin-right: 6rem;
}

.slogan {
  font-size: 4rem;
  text-align: center;
  color: $beige;
  background-color: #858AE3;
  border: 5px solid $orange;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 60px;
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('idle01.png');
}

@media (min-width: 1200px) {
  .slogan {
    font-size: 4rem;
  }
  .logo {
    font-size: 4rem;
  }
}
