.btn-blue {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: $blue;
  color: white;
  border: 4px solid $blue;
  &:hover {
    color: #75C9C8;
    border: 4px solid $blue;
  }
}

.small-btn-blue {
  font-size: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: $blue;
  color: white;
  border: 4px solid $blue;
}

.small-btn-outline-blue {
  font-size: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  background-color: white;
  color: $blue;
  border: solid 2px $blue;
}

.btn-pink {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  color: $pink;
  border: solid 4px $pink;
  &:hover {
    color: #FFEEDD;
  }
}

.btn-transparent-blue {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  color: $blue;
  border: solid 4px $blue;
  &:hover {
    color: #FFEEDD;
  }
}

.btn-banner {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  background-color: #FFA62B;
  border-radius: 3rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
    &:hover {
    color:#FFA62B;
  }
}

.homepage-buttons {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

.small-btn-plus {
  text-decoration: none;
  text-justify: center;
  font-size: 1.8rem;
  color: #0F0326;
  opacity: 0.7;
  background-color: $purple;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  cursor: pointer;
    &:hover {
    color: $beige;
  }
}

.btn-plus {
  text-decoration: none;
  font-size: 3.5rem;
  color: $purple;
  border-radius: 50%;
  padding: 0.4em 1em;
  margin-bottom: center;
  height: 65px;
  cursor: pointer;
    &:hover {
    color: $orange;
  }
}

.skip-button-to-style {
  text-decoration: none;
  background-color: transparent;
  border: none;
  &:hover {
    background-color: none;
    border: none;
  }
}

.create-btn {
  z-index: 5;
  &:hover {
    background-color: none;
    border: 4px solid $blue;
  }
}

.btn-submit {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  background-color: $pink;
  border-radius: 1.5rem;
  padding: 0.6rem;
  border: 4px solid $pink;
    &:hover {
    color: $pink;
    border: 4px solid $pink;
    border-radius: 1.5rem;

  }
}

.welcome-panel-btn {
  display: flex;
  justify-content: center;
  .welcome-btn {
    text-decoration: none;
    font-size: 1.4rem;
    color: $beige;
    background-color: #858AE3;
    border-radius: 20px;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: center;
    height: 65px;
    cursor: pointer;
    border: solid 4px $purple;
      &:hover {
      color: $purple;
      background-color: #858ae36f;
      border: solid 4px $purple;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.data-btn {
  text-decoration: none;
  font-size: 1.4rem;
  color: white;
  background-color: #858AE3;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  border: solid 4px $purple;
    &:hover {
    color: #858AE3;
    background-color: #FFEEDD;
    border: solid 4px $purple;
  }
  h3 {
    margin: 2rem;
  }
}

.happy-btn {
  text-decoration: none;
  font-size: 1.4rem;
  color: $beige;
  background-color: $beige;
  border-radius: 20px;
  padding: 0.4em 1em 0.5em 1em;
  margin: 1rem;
  width: fit-content;
  cursor: pointer;
  border: solid 4px $orange;
    &:hover {
    background-color: $orange;
    border: solid 4px $orange;
    .fa-hands-clapping {
      color: $beige;
    }
  }
}

.small-btn-blue-label {
  font-size: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  background-color: $blue;
  color: white;
  border: 4px solid $blue;
}
