.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  text-align: center;
}

.card-category {
  background-size: cover;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: antiquewhite;
  border-radius: 7px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  h4 {
    font-size: 1.5em;
    padding: 2rem;
  }
  .fa-solid {
  color: $beige;
  font-size: 4rem;
  padding-top: 3rem;
  }
}

.cards-container {
  margin: 5rem;
  .card-title {
    margin: 5rem;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.screen-youtube {
    border: 1.4rem solid ;
    border-color: $pink;
    border-radius: 3rem;
    background-color: $pink;
}

.welcome-panel-card {
  margin-top: 3rem;
  margin: 1rem;
  height: 7rem;
  background: $orange;
  padding: 3px;
  display: flex;
  align-items: center;
  border-radius: 1.5rem;
}
