.data-panel-today {
  color: $darkpurple;
  opacity: 0.7;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

.data-panel-congrats {
  margin-top: 2rem;
  margin: 1.8rem;
  color: $darkpurple;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-panel-footer {
  color: grey;
  text-align: center;
  h4 {
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  }
  &:hover {
  color: #858AE3;
  }
}

.timer-total {
  border-radius: 2rem;
  background-color: $purple;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  text-align: center;
  margin: 0.8rem;
  padding: 1.1rem;
  h2 {
    font-size: 32px;
    color: white;
  }
  p {
    color: white;
  }
}

.data-panel-timer {
  align-items: center;
  h3 {
    color: $darkpurple;
    opacity: 0.7;
    margin-bottom: 1rem;
  }
}


.label-times-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-times-card {
  width: 75%;
  border: 4px solid $purple;
  border-radius: 30px;
  margin-bottom: 1.2rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  h4 {
    margin-top: 0.5rem;
    color: $darkpurple;
    opacity: 0.7;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
  }
  p {
    margin-bottom: 0.3rem;
    opacity: 0.7;
    font-size: 1.6rem;
  }
}

.label-times-card-times {
display: flex;
justify-content: space-evenly;
h6 {
  color:$purple;
  font-size: 1rem;
}
}

.label-times-card-times-specific {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

  .data-panel2 {
    overflow-y: scroll;
    overscroll-behavior-block: contain;
  }

  .data-panel-happydance {
    color: $orange;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
