.music-panel-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
}

.input-field-music {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.btn-music {
  height: fit-content;
}

.music-panel-title {
  margin-bottom: 2rem;
}

.card-spotify {
  align-items: center;
}


.input-field-url-music {
  background-color: $white;
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  border-color: $orange;
  text-align: center;
  width: 75%;
  margin: 0.625rem;
  }
