.fa-solid {
 font-size: 2.8em;
 color: $darkpurple;
 opacity: 0.7;
}

.icon-list {
  padding: 1.3em;
  border-radius: 40%;
  background-color: $orange;
  margin-top: 1em;
  margin-bottom: 1em;
  .fa-solid {
    &:hover {
      color: $beige;
      opacity: 1;
      }
   }
}

.icon-clock {
  padding: 1.3em;
  border-radius: 40%;
  background-color: $pink;
  margin-bottom: 1em;
  .fa-solid {
    &:hover {
      color: $beige;
      opacity: 1;
    }
  }
}

.icon-music {
  padding: 1.3em;
  border-radius: 40%;
  background-color: $blue;
  margin-bottom: 1em;
  .fa-solid {
    &:hover {
      color: $beige;
      opacity: 1;
    }
  }
}

.icon-stat {
  padding: 1.3em;
  border-radius: 40%;
  background-color: $purple;
  .fa-solid {
    &:hover {
      color: $beige;
      opacity: 1;
    }
  }
}


  .icon-param {
  padding: 1.3em;
  border-radius: 40%;
  background-color: $beige;
  margin-top: 17em;
  .fa-solid {
    &:hover {
      color: $darkpurple;
      background-color: $beige;
      opacity: 1;
    }
  }
  }

  .circle {
    box-shadow: inset 0px 0px 0px 4px #0f0326b5;
  }
