.panel {
  background-color: $beige;
  color: $darkpurple;
  border-radius: 30px;
  height: 750px;
  width: 500px;
  margin: 20px;
  padding: 20px;
}

.ui-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.needs-panel {
  background-color: $beige;
  color: $darkpurple;
  border-radius: 30px;
  height: fit-content;
  width: 400px;
  margin: 20px;
  padding: 20px;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
}
