.card-task {
  overflow: hidden;
  height: 6rem;
  background: white;
  display: flex;
  align-items: center;
  border-radius: 2em;
}

.card-task h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-task p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-task .card-task-infos {
  padding: 16px;
}


.panel {
  position: relative;
  .footer-task {
    position: absolute;
    bottom: 20px;
    left:15%;
    right:15%;
    display: flex;
    justify-content: center;
    position: sticky;
  }
}

.no-tasks {
  text-align: center;
  margin-top: 2em;
}

.task-panel {
  overflow-y: scroll;
  overscroll-behavior-block: contain;
}
