.timer {
  border-radius: 50px;
  background-color: $purple;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  text-align: center;
  width: 12.5rem;
  margin: 0.625rem;
  opacity: 0.7;
  padding: 0.625rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  h2 {
    align-items: center;
    margin: 0px;
    font-size: 32px;
  }
}

// HTML to add a timer
// <div class="timer"><h2>01:37</h2><p>&ensp;55</p></div>


.clock {
  font-size: 32px;
  border-radius: 50px;
  background-color: $blue;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  text-align: center;
  width: 12.5rem;
  margin: 0.625rem;
  opacity: 0.7;
  padding: 0.625rem;
}

// HTML to add a clock
// <div class="clock">04:30 pm</div>


.timer-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tag-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.timer-buttons-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.timer-button {
  border: 1px solid $blue;
  padding: 1em;
  border-radius: 40%;
  background-color: $blue;
  margin-bottom: 0.7em;
  width:5em;
  text-align: center;
  margin-left:0.8em;
  .fa-solid {
    &:hover {
      color: $beige;
      opacity: 1;
    }
  }
}

.purple-timer-title {
  color: $blue;
}
