.timer {
  border-radius: 50px;
  background-color: $purple;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  text-align: center;
  width: 12.5rem;
  margin: 0.625rem;
  opacity: 0.7;
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  padding-top: 0.8rem;
  h2 {
    align-items: center;
    font-size: 32px;
    margin: 0px;
  }
}

// HTML to add a timer
// <div class="timer"><h2>01:37</h2><p>&ensp;55</p></div>


.clock {
  font-size: 32px;
  border-radius: 50px;
  background-color: $blue;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  text-align: center;
  width: 12.5rem;
  margin: 0.625rem;
  opacity: 0.7;
  padding: 0.625rem;
}

// HTML to add a clock
// <div class="clock">04:30 pm</div>


.timer-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tag-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.timer-buttons-panel {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.timer-button {
  border: 1px solid $blue;
  padding: 1em;
  border-radius: 40%;
  background-color: $blue;
  margin-bottom: 0.7em;
  width:5em;
  text-align: center;
  margin-left:0.7em;
  .fa-solid {
    &:hover {
      color: $beige;
      opacity: 1;
    }
  }
}

.purple-timer-title {
  color: $blue;
  font-family: "Gaegu", "cursive";
  font-size: 4rem;
  text-align: center;
}

#timer_label_id {
  padding: 0.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0F0326;
  opacity: 0.65;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 40px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.homepage-timer {
  color: $darkpurple;
  position: absolute;
  right: 0rem;
  margin-right: 1.15rem;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: $blue;
  text-align: center;
  width: 10rem;
  opacity: 0.7;
  padding: 0.625rem;
  padding-bottom: 0.7rem;
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width     : 7rem;
  height    : 6.2rem;
  padding   : 3rem 0em 0 1em;
  margin    : 0 4rem;
  border-radius: 100% 100% 0 0;
  h2 {
    align-items: center;
    font-size: 32px;
  }
}
  .homepage-timer::before,
  .homepage-timer::after {
  content: '';
  position: absolute;
  bottom  : 0;
  z-index : -1;
  background-color: $blue;
  border-radius: 100%;
}

.homepage-timer::before {
  width  : 4.9rem;
  height : 4.7rem;
  left    : -3rem;
  border-bottom-right-radius: 0;
}

.homepage-timer::after {
  width  : 4.3rem;
  height : 4.2rem;
  right   : -2.5rem;
  border-bottom-left-radius: 0;
}

.label-text {
  text-align: center;
}
